<div id="newsite">
  <h1><%= @title%></h1>
  <%= form_for(:site, :url => sites_path) do |f| %>
    <div class="field">
      <%= f.label :Name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :URL %><br />
      <%= f.text_field :url %>
    </div>   
    <div class="actions">
      <%= f.submit "Create site" %>
    </div>
  <% end %>
</div>

